/*
 * Alpha specific CSS
 *
 */
a {
    text-decoration: none;
    outline: none;
    color: #3465a4;
}

img {
    border: none
}


h2 {
	font-size: 131%;
	margin: 5px 5px 10px 0;
}

div#footer a {
}
.yui-b, #ft{padding: 1em;}

.odd { background:#F4B624 !important; color:#000; }
.even { background:#FFFFFF !important; color:#000; } 

/*
 * We should use a class down here ¬¬ (fauno)
 */

form input {font-size: 138.5%;}
form.notcrazy input { font-size: 99%; }

div#invite,
div#register,
div#login {
	margin: 1em auto 0 auto;
}
div#invite form,
div#register form,
div#login form {
	width: 30em;
	margin: 0 auto;
}
div#invite form fieldset,
div#register form fieldset,
div#login form fieldset {
	border: none;
    padding: 0;
}
div#invite form fieldset label,
div#register form fieldset label,
div#login form fieldset label {
	float:left;
	font-weight:bold;
	text-align:right;
    width: 10em;
}
div#invite form fieldset label span,
div#register form fieldset label span,
div#login form fieldset label span {
	color:#666666;
	display:block;
	font-weight:normal;
	text-align:right;
	font-size: 77%;
}
div#invite form fieldset input,
div#register form fieldset input,
div#login form fieldset input {
	float:left;
	padding:.2em .1em;
	width:200px;
	margin:2px 0 20px 10px;
}
div#invite form fieldset input[type=submit],
div#register form fieldset input[type=submit],
div#login form fieldset input[type=submit] {
	margin: 0;
	width: 100%;
}

/* sidebar navigation */

ul#navigation { padding: 0; margin: 0; }
#navigation li { list-style-type: none; padding-bottom: 5px; }
#navigation li ul { padding: 0; margin-left: 20px; margin-top: 0px; }

/* the lists on the front and explore pages */
/* TODO: Do rounded corners for browsers other than Gecko as well? */

ul.listcloud { padding: 0px; margin: 0px; }
ul.listcloud li { float: left; margin-right: 10px; margin-bottom: 10px; list-style-type: none; padding: 0 10px;}
ul.listcloud li dl { margin: 0; padding: 0; }
ul.listcloud li dt { margin: 0; padding: 0; }
ul.listcloud li dd { margin: 0; padding: 0; }

ul.listcloud li dt a { color: #630000; text-decoration: none; }
ul.listcloud li dt a:hover { text-decoration: underline; }

ul#topartists.listcloud dd, ul#albums.listcloud dd { font-size: 77%; line-height: 1.2em; }

ul#nowplaying.listcloud li { float: left; margin-right: 10px; margin-bottom: 10px; list-style-type: none; padding: 10px; border: 1px solid #000; background-color: #eee; -moz-border-radius: 5px; height: 4.4em; }

ul#recenttracks.listcloud li { height: 3.4em; }
/* Users */
.user .fn {
    margin-bottom: .3em;
}
.avatar {
    max-height: 96px;
    max-width: 96px;
    min-height: 32px;
    min-width: 32px;
    float: left;
    margin: .3em;
}

.user .avatar img.photo{ max-width:96px; }

.user .bio {
}
.user .fn {
    font-size: 93%;
}
.user .nickname {
    color: #666666
}
  dl.now-playing dt, dl.recent-tracks dt {
      margin-top: .3em
  }
  dl.now-playing dd {
      font-size: 77%;
      color: #666;
      display: inline;
      margin: 0
  }
  
  dl dd{
      padding: 0 0 .3em 0;
  }
  
  dl.recent-tracks .track-name a{
      color: #2e3436;
  }
  
  dl.now-playing dd.track-name {
      display:block
  }
  dl.recent-tracks dd span.username {
      font-size: 77%;
  }
  dl.now-playing dt {
      font-size: 93%;
  }
  dl.now-playing dd {
      font-size: 85%;
      color: #666
  }

ul.gobbles {
    margin-left: 0;
}

ul.gobbles * {
    list-style: none;
}
    ul.gobbles .contributor a {
        text-decoration: none;
        color: #2e3436;
        font-weight: bold;
    }
    ul.gobbles .contributor a:hover {
        text-decoration: underline;
    }
    ul.gobbles .track-name {
        font-weight: bold;
        font-size: 77%;
    }
    ul.gobbles small {
        color: #666;
        display:block;
        font-size: 77%;
        margin-top: -0.4em;
    }
    ul.gobbles li img.albumart {
        float: left;
        margin-right: 10px;
    }

h3 {
	clear: left;
}


.clear {
    clear: both;
}

.user {
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    background-color: #EEE;
    padding: .4em .4em 0 .1em;
}

.vcard .edit { float:right; }

#chooser { position: relative; }
#chooser_list { position: absolute; width: 26em; background: #eee; }
#chooser_list { border: 1px solid #999; padding: 0; margin: 0; list-style: none; }
#chooser_list li { border: 1px solid #bbb; padding: 2px; margin: 1px; font-size: 67%; }
#chooser_list li:hover, #chooser_list li.hover { background: #ffd; }
#location_uri_label { font-size: 80%; }
#location_uri_label.ok { color: green; }
#location_uri_label.no { color: red; }

ul#albums * {
    padding: 0;
    margin: 0;
}
ul#albums li {
    list-style-type: none;
    float: left;
}
ul#albums img.album, ul#albums li {
    width: 160px;
    height: 160px;
}
ul#albums img.album {
    vertical-align: middle;
}
ul#albums dl dd.description {
    line-height: 1.2em;
    font-size: .8em;
    margin: -1.4em 0 0 0;
    padding: .1em .5em;
    color: #FFF;
    background-color: #000;
    opacity: .85;
    /* IE */
    filter: alpha(opacity=85);
}

/* stats */
.stats_artists{ width: 100%; font-size: 98%; }
.stats_artists td{ border: 1px solid #ddd; }
.stats_artists .artist{ width: 300px; }
.stats_artists .bar{ width: 300px; }
.stats_artists .bar div{ background: #970102; height: 1em; }
.stats_artists .counts{ text-align: right; }

dd.libre{background-image: url(/themes/librefm/images/square.png); background-repeat: no-repeat; padding-left: 12px; background-color: #eee;}