Options +FollowSymLinks
RewriteEngine on

RewriteRule ^user/([^/]+)/?$					profile.php?user=$1			[B,NC]
RewriteRule ^artist/([^/]+)/track/([^/]+)/?$			track.php?artist=$1&track=$2		[B,NC]
RewriteRule ^artist/([^/]+)/album/([^/]+)/track/([^/]+)/?$	track.php?artist=$1&album=$2&track=$3	[B,NC]
RewriteRule ^artist/([^/]+)/album/([^/]+)/?$			album.php?artist=$1&album=$2 		[B,NC]
RewriteRule ^artist/([^/]+)/?$					artist.php?artist=$1			[B,NC]
RewriteRule ^group/new$                                         edit_group.php?group=new                [B,NC]
RewriteRule ^group/([^/]+)/?$                                   group.php?group=$1                      [B,NC,QSA]
RewriteRule ^group/?$                                           group.php                               [B,NC]
RewriteRule ^country/([^/]+)/?$					location.php?country=$1			[B,NC]
RewriteRule ^logout 						login.php?action=logout			[B,NC]
