Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteRule ^user/([^/]+)/?$					user-profile.php?user=$1                [B,NC]
RewriteRule ^user/([^/]+)/journal/?$                            user-journal.php?user=$1                [B,NC]
RewriteRule ^user/([^/]+)/groups/?$                             user-groups.php?user=$1                 [B,NC]
RewriteRule ^user/([^/]+)/recent-tracks/?$                      user-recent-tracks.php?user=$1          [B,NC,QSA]
RewriteRule ^user/([^/]+)/stats/?$                              user-stats.php?user=$1                  [B,NC]
RewriteRule ^user/([^/]+)/station/?$				user-station.php?user=$1		[B,NC,QSA]
RewriteRule ^user/([^/]+)/recommended/?$			user-recommended.php?user=$1		[B,NC]
RewriteRule ^artist/([^/]+)/track/([^/]+)/?$			track.php?artist=$1&track=$2		[B,NC]
RewriteRule ^artist/([^/]+)/album/([^/]+)/track/add/?$		track-add.php?artist=$1&album=$2	[B,NC]
RewriteRule ^artist/([^/]+)/album/([^/]+)/track/([^/]+)/?$	track.php?artist=$1&album=$2&track=$3	[B,NC]
RewriteRule ^artist/([^/]+)/album/add/?$			album-add.php?artist=$1			[B,NC]
RewriteRule ^artist/([^/]+)/album/([^/]+)/?$			album.php?artist=$1&album=$2 		[B,NC]
RewriteRule ^artist/([^/]+)/?$					artist.php?artist=$1			[B,NC]
RewriteRule ^artist/([^/]+)/manage/?$				artist-manage.php?artist=$1		[B,NC]
RewriteRule ^artist/([^/]+)/tag/?$				artist-tag.php?artist=$1		[B,NC]
RewriteRule ^group/new$                                         edit_group.php?group=new                [B,NC]
RewriteRule ^group/([^/]+)/?$                                   group.php?group=$1                      [B,NC,QSA]
RewriteRule ^group/?$                                           group.php                               [B,NC]
RewriteRule ^country/([^/]+)/?$					location.php?country=$1			[B,NC]
RewriteRule ^logout 						login.php?action=logout			[B,NC]
RewriteRule ^listen 						listen.php
RewriteRule ^music 						popular.php
RewriteRule ^users						users.php
RewriteRule ^tag/([^/]+)/?$					tag.php?tag=$1				[B,NC]
