<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>django.fm</title>
    <link rel="stylesheet" href="http://alpha.libre.fm/themes/librefm/base.css" type="text/css">
    <link rel="stylesheet" href="http://alpha.libre.fm/themes/librefm/librefm.css" type="text/css">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<div id="doc3" class="yui-t7">
    <div id="hd" class='vcard'><h1 class='fn org'><a href="/" class='url'>django.fm</a></h1></div>
    <div id="menu">

  <ul id="navigation">
        {% if user.is_authenticated %}
          <li><a href="/profile/{{ user.username }}">{{ user }}</a></li>
          <li>Invites disabled</li>
        {% else %}
          <li><a href="/login/">Login</a></li>
          <li><a href="/request/">Request invitation</a></li>
        {% endif %}
        <li>Explore:
        <li><a href="/explore/artists/">Artists</a></li>
    </li>
  </ul>
</div> 
<div id="main">
{% block main %}
{% endblock %}
<div class="cleaner">&nbsp;</div>
</div>
</div>
<div id='footer'>
<p><a rel='license' href='http://creativecommons.org/licenses/by-sa/3.0/us/'><img src='http://alpha.libre.fm/themes/librefm/images/cc-by-sa.png'/></a></p>
</div>
</body>
</html>
