html, body, #doc3,h1{margin: 0; padding: 0; font-family: Liberation Sans, Verdana}

#hd{background: #980101 url(images/header.png) no-repeat;
	border: 0;
	margin: 0;
	padding: 0;
}

#hd a{
	display: block;
	text-decoration: none;
	overflow: hidden;
	border: 0;
	margin: 0;
	padding: 0;
	padding-top: 70px;
	height: 0px !important;
	height /**/: 70px;
	width: 418px;
	cursor: pointer;
}

#menu {
  color: #eee;
	float: left;
	background: #980101;
	padding: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
  width: 160px;
  font-size: 90%;
}

#menu a {
	color: #CC8F5C;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

#main {
  padding-left: 215px;
}

h2 {
	font-size: 2em;
	margin-bottom: 5px;
}

.yui-b, #ft{padding: 1em;}

.odd { background:#F4B624 !important; color:#000; }
.even { background:#FFFFFF !important; color:#000; } 

/*
 * We should use a class down here ¬¬ (fauno)
 */

div#invite,
div#register,
div#login {
	margin: 1em auto 0 auto;
}
div#invite form,
div#register form,
div#login form {
	width: 30em;
	margin: 0 auto;
}
div#invite form fieldset,
div#register form fieldset,
div#login form fieldset {
	border: none;
    padding: 0;
}
div#invite form fieldset label,
div#register form fieldset label,
div#login form fieldset label {
	float:left;
	font-weight:bold;
	text-align:right;
	font-size: 1em;
    width: 10em;
}
div#invite form fieldset label span,
div#register form fieldset label span,
div#login form fieldset label span {
	color:#666666;
	display:block;
	font-weight:normal;
	text-align:right;
	font-size: .59em
}
div#invite form fieldset input,
div#register form fieldset input,
div#login form fieldset input {
	float:left;
	font-size:1em;
	padding:.2em .1em;
	width:200px;
	margin:2px 0 20px 10px;
}
div#invite form fieldset input[type=submit],
div#register form fieldset input[type=submit],
div#login form fieldset input[type=submit] {
	background: white;
	margin: 0;
	width: 100%;
}

/* sidebar navigation */

ul#navigation { padding: 0; margin: 0; }
#navigation li { list-style-type: none; padding-bottom: 5px; }
#navigation li ul { padding: 0; margin-left: 20px; margin-top: 0px; }

/* the lists on the front and explore pages */
/* TODO: Do rounded corners for browsers other than Gecko as well? */

ul.listcloud { padding: 0px; margin: 0px; }
ul.listcloud li { float: left; margin-right: 10px; margin-bottom: 10px; list-style-type: none; padding: 10px; border: 1px solid #000; background-color: #eee; -moz-border-radius: 5px; }
ul.listcloud li dl { margin: 0; padding: 0; }
ul.listcloud li dt { margin: 0; padding: 0; }
ul.listcloud li dd { margin: 0; padding: 0; }

ul.listcloud li dt a { color: #630000; text-decoration: none; }
ul.listcloud li dt a:hover { text-decoration: underline; }

ul#topartists.listcloud dd { font-size: 80%; }
