Source: librefm
Section: user/Other
Priority: extra
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: debhelper (>= 7), dpatch, libqt4-dev
Standards-Version: 3.8.4
Homepage: http://libre.fm

Package: librefm
Architecture: any
Depends: qt-components, gstreamer0.10-plugins-good, ${shlibs:Depends}, ${misc:Depends}
Description: Stream music from Libre.fm and discover new artists.
 Listen to free music released under creative commons licenses from 
 Libre.fm. You can legally download, remix and share any music you 
 hear from this service. By indicating which tracks you love you 
 can quickly start receiving recommendations based on your unique 
 tastes.
XB-Maemo-Display-Name: Libre.fm Radio Client
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABAEAYAAAD6+a2dAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBI
 WXMAAABIAAAASABGyWs+AAAACXZwQWcAAABAAAAAQADq8/hgAABEpElEQVR42t29d5hURRb3/6l7
 b4fJgWFgCEPOOeeooCKgIBJEJIkgggFQESSoBJUgSFBQUJKBLEEQJOeccxzCwOQ809Pd957fH92z
 uu6u6+66+/7e9zzPfapnqrtu3XO+deqcqlPnKv7HdML1YusFN8GZlPulvg+0hrb39TFwY/aOkBsJ
 UPm1DgEV90UO8La1lsniwjdUCaOefiAs2RpjaZYUjrN+zn3BvajyO+oTswTHKqEOYailxRexWHUh
 MGI7y1lPUmQLlaW1V4PCGksJ+Zp9zg7s5RTH6Cfn5W35Bq9apgaqD4A61KEO4KEZxYGa6mN6Y6i6
 NFYt+Jo5ai5vuH7ka2urfJ5xmFUson/qfhrKB1xOjZXBqiFyf5x6zOiuXry6Wc8OrGFXl6YRrX2p
 LUxqRgdvL+tWZpT2BrFyIum5B6H7oh90TV0cvanJlqIKZLf3sPUxlDpSrE/MSnAWntq5/aD/nTzU
 f/sGyRW6L1/2PCRv0La6J4BK1PJ1B5gfaYnmWzEvqsdt8/WiNbtRUwtVlSvtly9zLri/q1PBet09
 zTuq5mscsQ6JWfp9qeVNkVdCw+W8xzRf1QfIXY9l9mUGS8wfrKP0k27WC/K+as3X5kmJp6XMM/Os
 l2jETXlJyhLLHvmJHShZKvHyKGBnEgd+xQOT8bQE1UfFqO1AZ9Wdroh6W8tQDblDe/2ONoIjars2
 Q73JXtpoDVWk7FKbjW/0mSxSr9me0bN4U02zv6hnmovVBf0ZzZU5Rq3Vb6o1t8Zr39lnGO+cc+jF
 Qio6xpxaxFmpoope6WV95rlitT/zcvbbuQ2z+zzUAuoSZTsN6mTGJDUbqtzaWmJg7v9FADj76NOh
 c3tA4Dv6Lu0OOMY6jwdN1gfljDZTvcG1YqyRRjv1Q+dMq2P+Oc+rjfpJdu5zno2128ku93lzetFE
 67T7bW9/oKTbbW4FK93dxbwJLLZs1lkgiNqqKBBEfUoAhipHEcBJccIBg6IEAwaliQAUEQQAOhoa
 YBCMEwAb2l913YMFeMnGBZiYmICHZLIAkzgyABf3yQAsEsgGXHKFeCCDI8QBGRyXu8AwTdPqgfaS
 vYw+D9TTjs+Mq6B97kg0IkGtdDxmRD/I0h8NHObofeZdtjre0m2HP5AprrHeFRsy9DhJtAWffS7w
 5dDmrknm/qzvMmaon6Hq56vGv/QnSu0/burac881+6I9uPcrlwoG05V9PXe47VX5wbnVcbHa59r3
 1m258WJjCnu+tL5r18fqktHOtaPcq9LCFegdoudKRc8ZMwbkTe/zVj5wj++5AoQzlCZAhOpNXcBO
 GaL+bLj+FymfmyQDibKYg0AiM9gJJPAMpUElGMHaE6Bq2qfqFUENcj5pm+rNsZWOyAt87EaeFuZ8
 z1Zk2zCrFH1U0JfXZat7l3fqxc1aQECY0ddb1KydfdT9KFS/uDZocMt/v5v/NgCO/9wmadrj4MkI
 zLSnQ9jYqIshGwpf8ZbIWuvqMXC3POs9Z3mHvG/Fp7/mii2xXk7kTnE31+vLRu8kqwlwWgrxLuBQ
 7SkPBNCY0oBOILb/09L7r1IuHiBT9nADSGQjJ4AGysY8UGuNy3pd0D8MbusoZk43xkfOCBx7p7rK
 tcXqT82/o48JMuxZSw5ZVcxoGZ/0tftO4gdZDaDWzS0Phr/5r3fmXwbA2a4de86eADXWbPz21Ylw
 7qlnn/3MW+drZZfXtcC3k80GmSNc1Z8qY61I+zh3u7OrLPREWQsAjQQ8gCIIO6Cwo/+7vfh/kAQ3
 XsBLJi4ggPKEgtbdflnvCUZuZPOgJFcF3QjvGCDrVspsbYe25cOckI9q9Cnx5NkWqQEHc24YUHvH
 po1Dq//x2/5h1p/Ie7LN7NmgP2a+YO1ik6rpbGMb0aqZhJk75dDk25KR/oFrf7PasiDzo/ymIDtl
 mjQCAnmOmv5HlD+RYepf6f3vMp4/tV9/Jikggc/YC+pZtUUFgV4rfExAOhhFCi0NfmdfFSmh3VZb
 xwV5Hs8umhe8Z1zI28Eq+B5Plz+/Omxgw39+C+Of8sfPnGPjk3vlleSSKh99ILB1y5rat95j0mdG
 T2tE8tqck/WWStOcdz0pQD9GcxKwUZN4AHax5t94eN1/aX5GGP4y3X/l+i8NAwPI/1V9AfPgF+EG
 +csQf2n66+x40YBC/svy1xeUXv93f93W/5JKUB0NZLu0lFvgrZ66PvcFkPc8oeauFpeMBdETQsZP
 v6G3DGhpfDWibdAjmcvl9X0nOA9AvX/W/D8dQ6dGd++8cAjIOK/lbld5PBvcj1o35iNdkrScAW0q
 MD9nomc4z2OXe3gBVDQB/wa7CgTuxCfsc8Ap4C4aecANbASAfI6SucAO3GwEvHKMM8Bk3Fggc1HY
 gABsCODxt98eDwrUHAQPEIkdgMqqAS+AGoddfQiUwIMXiPWLvS5Q39+G3d+eBx8oTP53pPyycst9
 MgGvKo4N1PDgn+xz+ML2RczGsLY7vfZyASOcw4ZulQxMq/mVDZV7fRMzsOY/bvYfaoCTDx9zTp8E
 WjFuWFNCblq3PW/JwlevW5+lTc/b0/oLSc1+yp3Fe7SUxZQFNC4QCiC7/tAD2fx3t/s/X/YLfQwG
 u0Bex5CPgUvEMw2kGms5DRKBIQJcJYts4KI4ZR7IfOAYsBX4GVjDyr/YGABd6I4JLAFagxqAk3rA
 GdVFzQJ1gUAOgcqgtWoBtKM6z4Mag1d9CnTzAYh2vt9TBagN5AEu/pfa4aofCEtIA0nN2pbvZpCZ
 bKueY2t902tEr9bOD59jFA7obX/jnclnH+v81IKbWWNr/rThh8Fl/x6ufkMHpnYYPPM6BE4yJ1uF
 9FbUtT20zes1Wy5lr3C/NTfD+iQpMHdVWEuqWgelEgBtKAF/mAUWvpHzMTDNL6x7IP1R8glIIZby
 HMgS2SUTQQJIldtgHeZl6QDSXZbQA+QhNkkGaw1xUgXkLNOlG/AjXrYCK+V7NPiLr99F9cADajmG
 +gbUi4wiDtRpyqiuoBqRqxqA1l4tVzZQ23hVLQLVTZVkA2g9eFvtBjqi1DegNqLRFPgKGAuE+q8C
 2+S/Dwif7HLZwDWgkX5WawG2h0WLhUxI36dfCYsPXD70aSve20UV+/5HdBWSf8VqXPP59XOHJ/7S
 yN9ogJvVI4Y12Yutcu3sKUcfL/SUFufKtr4fVl76prV1VQ0LwuUtJS8ByeoIfQCLXT7V/w+oQAC+
 +RbeRJMpIHnoeEHGs5ejYNWS16zrII9QQnqCuU1WySCwTrDSGgdWT2kgeWC+KMEyGqxVFJUvwFQy
 XWwgY0mQiiBhMlnqg3zMQr4GtZDKXAK6qwTCQVurDqkqoPpSi/mgDVCb1XzQ21FaexG0OnytBoD2
 knpdawz6YuYqA7TR6qi2ALR3iVBVQY1X89RBUHNoxi5Q5zHpDIzFUmOBaH6xW6z/IiB0IjCASZ4F
 ZiaYV1MScluEt1CVnTbbveF7tZbO3mrX9unXp0XNfvqTZANg+Ce/SOxvAFBi4Y15mdF4pFz4XbNz
 j8/kWtZj7pG1Lkgf1zpvGF8SyVpmA5ao332oXxthOvAWBlkgHrkpN8C6zCVWgzWfi1Y7MCMl0zoI
 ZnOZZzUEc4nsk/GQP9haYo0C1wPVNK8fSJpxMO8yqAb6y/kRoH2v614DtHZ6uOkAq6nslPfAG2pN
 ZzRYR8xx+gdgVbIeGD3AmuZt6TgPKs27wlkb7MOYY2SBrYdWRksHXVenVVswnlVR+gUwaqoJWm0w
 NrJTLw56rpql3QPtOInqedCWqT3ah6AuUJUMUDtVJQ6AukM+I4H+WGj4jMn/plaoxBZWglkk9133
 KlDTMjq6XqkdxSAtxpHz7Fmt1ukyR1d89jdD9W8AENLcqc5WjtogSd4lan23a/Joxr38a87XcFvV
 eA54yGu/6zsUCN6Db/SPQicV5AKXpSNYLSkm08B8RfZag8D8gXDrJni/t+xWV8i5bZn5m8CVZi+R
 /ATY90WcTPoRQhtGHnhwGJwbQ46nfgYBqwJ/zEqHgPXO79zlwfm5/TnvCbAuy2NyE1xPeZ5TsyHf
 63bap4P3jPtc4DJwvZAzN2QgZLVK71T4FcjISlsUeR/Sq2c5CgWCs5N3UMiT4JyrddIfAdtNbY0+
 EGzvqkf1WWArpe7oAkYCEfpKMFaqu7oB+lr1jWoJ2lZ5XkUDT9FZpYOaQWE1CxiIiYbPW/m1Z/Hn
 kY/zCeRigrUq/VbeqIBCWvvQZvYZPVyxnwV/czN35VtANKR8/DcAOHqrxdIps8AqbR+qP992idqQ
 FZM/r2pjyngWmDfQccsLfvMuxG8//z4Asn2ty5vYOQ5WGz6R6WCGyWjrbfAelDLWbHDdZVXednC1
 CJ5z5zsIeymm+q3rUHJ8VPz9dhB2ODw4vSEU7hV62gMYw7Q+ADJHpmEDJhAHIHt4GYBCOADUU9Sn
 EJBBSw9ANfrnAOSruklAbll3p5sxkPxeRpvABvBwUtJHkRFwc0TcnuImZG5Jzis1HIIqee+HlgLn
 p2qcrQ84vKqn8SY4eqtMQwfbSK2ukQ7GVC5rtcFoovrpn4F+n9raYdDWq/kqFOhPCN1B7UN4AZ8h
 afrB8GeSRToukKv5eR7BMOdn4mpQ9XVVOGSY8+c2Q050eaTPrFGrqVdnx7LXJ/7KCDz2WtOPJ32h
 lZWaIYMCJ86cqpo/vJZT/dUeZOc0cjdSQgJO3IBvW+X3AaCAM+hkgtVfzkpFsE7TVVaCd5n0NftB
 xj3njjuxELazTKnTN6BUndgecSEQcj44NScanOPtz9MOGCrLAHiBTwBoRgsA2tMIgDJEAuD1e+73
 SABgBwcB5A0WAVBSxgDILVIB1GYGA2hbtMYAnlLmFYC0XjlpRh24UuFueKFicK3u9Z7lvgXDyqhU
 Zik4N0paQEcIiNB22tLAGadesW0Ex2ZV0XgB7LoqYxwBI0DZ9UOgp6r52kLQItR8NRRUFhHqB1Be
 vPQCmiD+Tac/a4owsYAQycAE7YPQ2Y4q1lWtbMmdYRGfdrI2Zkz0Xh9xqd79PY3eeFP0v2gACbM1
 1/uW7SBncu+4b9dLIN493pymhEHWF5wBItVQqvtv8PsI9AGgPwZpILoksQ4sjWvSHMxcwSoFRveo
 IjfCoGqhyj0uF4eA045VVidQ2wkHUK15HsDsKRUAMvu6eqnhkJ/hed84At4l3jZac7DS5aJKBzpQ
 kf2g7dYmW1+C0VBfaI2BgM/tI73LIPRzp0EZ0Nap+gDWKas9gDnV6gWg91c/AhQ+GPKD9xREdK3c
 JuEUVLpd8lbqMjh281K3hz/Dw0o3X6gcB/nZrqjoNhBUWYuwPgNvsjbS+gi8m9VgCQXHKtVKKoHt
 inpRLwH6ciVaV9AXMUxbDiqIKgwGlaYC1YtAEyy8vwLCf7rKmSXT2QPW2Pws09Aqqm9ybrvv1L2g
 mthjjbfK5LAa4OYvU4BcdcwwfihflY7p991TKuwmxVPMnMtw7kuGXAG88jPRf+DGfgDIHQwygabs
 kb1grZdZ1hNgLZcnrdaQUzejakRjYD1DtCDQpqggC0jX83RVDuIjU8YEtYDEFamHQ4C7HRI9oTcg
 9ZWsSs7JkFPDNd22Czzx5lNaM1Af00BGgnHduGm+BAGHnfPdByByV+isnGQo0zOmbcZsKNIkom/2
 S1C6VtQhdwA4auhPA1h5shfAeihlAPSyKhsg6rXgNZ5XoO3Fuk/cPAEXlxQamL4WzjrObaqaDmmT
 Uz2ldoH3oXbMCXjDtRxTQAK1wfaWIEmqrTEIbENVhtELMDkiL4N+UY3QqgC9ZSvFQa1Bpy/QEvkL
 EP4T8rCfMkArdxXvQpDAnPGeQxUDtc6F7tkfVOjo+9JNjG3dqreecJUi5iQ+okpsgJbstsy+UR2V
 6e1i1QaEcjwGCDv/+cLxr9Cr/AC4xjEpA/SXIxIDUktWEwz6tey9RQrDrfcTXg4aBHmfu6vpLri7
 MK5aif0Qfz/x66hwyLCypgSMBO28PGd8AlYj0uUlkDx6ySXQmxLKZVAnWcczYHWmpnwBWYvlGbpA
 WvSDolZvuFL/+qO5TggdEXolax/EPl58X8JuqF6jTPHkDlDleMyXrhjQS6jXuAF4cAHIGywFcHTR
 36ce1J5WNi4VCC0X/OWJ03Dko1O3c7ZA2sL4/hVSwXxcdgadByktyVYCWN3UEPtpkGtaBSkELGCg
 MRfoqYrLWdCXq7bah0APxik3qN0o+gMt+c9sBIMMXCCrvdvlJMg8TwurQ+EYIrQYxpR8++iVlh9M
 us8+w94taLxtaXBPKufaPK5qgZz2vGXu0LszyGogMwBTHecF/vhWTsEUUN8HAGnCATkJskgqSj5w
 WRpbSWA8cJcMCoAzG47pDZYAh1yfh34KuVPyqjmbgb5Tdkk+hHjUKo8B5lvct+qAPMVtaQKyCiVH
 Qa1C1FpgBCaPAUmsJhnwKKEnWI+zWGxgtrJ026fgqZr2YsgbcCkjbX+hXnC7flx0eghc/qZcYFwr
 aFalytiULIh5NnS9NxHUZsIAZBNzAVQtMgDK9yrySF5tCFjR6LsLtWGfdaKQuwek/hzXq9JyMCdY
 CSHJYPbR0qUdWA5ZJWEgz6nS0hkkT83VQ0Dqqwh9JugP1SZtE6h0wtRboLxY9ADV7FcD618lAUkU
 xQcg8z11vWP0OPPdvM7u+1UTWGwEGxODnjFs9QNvG6Uj2qnAvG/NxpU2UdVz0ppMdzkp7WUNkCE/
 q38l4KBgCqiuDDKAbrJHjoPSaM1GUK2ljpoC+uty23YPwspnNir/IbhPyBWzKKjJqqZ7EbguUcXb
 CvTG8onhAOuyekQiQRpwVVoCHwE/+RmWDDiowQ/Ay7ymhgFfsl/2gXTiZ+aCtU8dknQwt8oHZhh4
 OkmG8QDyB2aNd+TBpZJnxofVhAdtH74dfwFarKnzWNwtqLKseFb2HHBgKJaBHJQBADQTG0DxpAjD
 fRpaJzZcduV92DtYm2dOgcT+t+pVuQHWArNsyEhgI11lL/ClGioDAKdqY+8MfKeeVsdAjVIJrAXt
 C+Zo54EoFaG2AVvFpBa+zax/x1A8TidZD9LO7TJfAU7k3/QOrZSoKgbMspeOiNEHJpTl0cklbjIy
 r4v50YBmWp3sqp6M6KaMMO/JZsAilPqAjduU/YNlOVADpD9FQXpyg9XATFknA4AJrKMbWCtlqDwN
 pFKI+UAG/cUB0pZ4KQVqBwnqEKgJaoQqBnoAnbVE0O/KT9ozYDyko9YS9GWM07eCkaLc2kMwQrFr
 hcE2iCJaHtg+JUqrBcaHHNVvghGi9mrRYKtCNa0e2DbwoVYfjC5S2HYaXJeyh4XmwNVn41uHDAf3
 LLa6JkF0zYgv8iIgoLstgcMgu3yagamUAQhu4ZhlfQuF46IqpTeC+JVZ/eRpyCiW/kXYUVCLJEmL
 Ab0WP6mPQbtLnAoA7TXaq0BQjUikKahHGKJM0IbLIvaCyiGJO0BDblEO0P8FOfjKI3wGahqLaQqq
 ROBxW7u8aupG4HLbpI0nDOstVYsZgTP1TtZ067siuyTNq1nXQT0qRaQF4Ganzy7/g1TgBib6EVsF
 J6OBUIriAdrIC/QDfYDkqmpgREsX7WMwa1JMmw62Qzj1ILCG4JB5IDaZI/vBnUwdzw+QH6in5b4M
 kmFkub4CGc1GmQXWAE8Nx/cQMMQ6HzgWjM/AGAoU4qHaAnoSt/kM9PmqqP46GPXVMO11MOrwmV4U
 bDpHzOFgS+eS1hhcNXICosvCibonN9v7QN7e/MTrraH1kzXbPRgIEbUDd1iLwHJLZwAyGAMQnRNy
 zTsdWtSs9+SNTPjpk7xejjuQ5X5YpvwboNWT/WoeqCe0nVwDtV7F8CKoqqofG0F9q3Smg7qm5uo6
 qDdpxbOgBJMpoF708/mP2gb5uGgJMtRTyBoB5JhTZHeRH6W71pupgdUMrQ0jGRYyCbE8si88m0xv
 AyuLMTJNTeUGoEj6q121PwIAwbcvbwMs7NQDushBeoPWmr7YQW1hJjpoHeUya4Bn5Ac8YD2nP+q+
 DZ7Cgd/Hn4HANYVPxWtQukyRzqmFocjJiNDcJ8DZyTbH3Arqc/WSjIO8xvlJxldwf2lybNDL8PBB
 0vGwypAWmViqSHHQ7+fcjdoA2mDrGdtPoD/D29pDMFqouqoX6JdUYb0J6JEyQh0Ffb3qoWWBPsJd
 P7IcXK5y9mqVjeCOdn+gb4N2x+qNvfcIRLYLWm09B9Y2/9ZYb2YDxKYXquxeCC021rddqwHbXt/j
 DIiGzMOZ35SMBW2ODONt0LprM1gOWk/1NPNAxak+kg/qsnLTCfQH6getN6juhKiDIOsQgv18Nn/F
 839EOvl4gC3e7WYjUEes+tb8iKWSbBW1zgZvM8wLrvZm++hoPc28ZSXrL2PISkkAnHJRdQP+3Uie
 EoAB6n0Ux0AVxiunQbWiGBtApcpessHbR/vQ/RxYCyIX3fweImrGvn2xKjTNKft5Ym8I/TGwkWcF
 6JX0apIPRjOtJutBVaMqANu4TgWQfD4AiJ1ZdEgGYJ6ylj94FtKv5Vg3XHDGcX1U1D5IfDtuRJkT
 kBeT8rBIMBiTLYfjU9Bnkqiugv4NqdpacHhIVTmgPUmaugHaHu+TISvg1r2Lkyr3hJ9P8wJfQbsv
 6z9+bzCEHwoYYy0Aucs4ADVe+gNUeDcmJCcfktfWcl5vDUcrHvYEJYBhuh1R3cB4nTnaU6DPU5Y2
 ALSPVDs1G7QeapB6H1QF9YR6BtRgmvMMqC/xqA3AW/gCWHL5JXjl7w9IXyRBE9FkMoju3WutNhqp
 m/mHrdKFh6u9zRs98t6BV3P0OZk9vK9+Inps6uB8uxZEHFto928IvoAKAjumA4fBaotDdLBK00/2
 gDvPWm3GQPqHITVvbYCyj7RM3tYcKm6OuZ6rgFdpQCKoDuoGgHpRPQdAcYoC8IDrADJL5gNIirQF
 oDmf+r/nW7W4SiaA3KYIReDhd+mf2b+Fs7Mu24oPhptPX3mu3A3QL+WeiRwF9quqvQaoZxB1FKz3
 uCTPgHcsM8w+4JopjbzjIK+rfjo7HiournHowhJot6fezvgACEq110QHeZZlAFqs2gyQ0SKvsVYB
 Nj2xv0rZ7+Fh32sHquyGQgfVW8FtIbSVFh/QB0JeVW0c1SFglNbAfgwci1ivrwO9qfpGOw9aOdpo
 E0GlYdIPCMYXk/B7IAAQqcQCoGR0eOBbVpLyRAQ5ba91NTji7SyvFwmlv7eq1U61pqR1VarzM3Fq
 EU3+cwDINKAi8Ah20YEY2S0xoJyyiFywh3kXB3YDSfXMs10FvlTPUgvS7uQ01+1w10zqE7Afcn7I
 1RxlwVPB20A7D2qz3ttcDUGrA4vmfwvFYwsty5sF0T1DvrY+AKbQk6ugalEIgCCOkQAxfSJuuNtC
 pKtB/K2GUGhSoffTy8DJoafqVugMuZEp54uvAMdI1tiDQTNor9aAcZ5tWg9wXKKv8RB44PkwuChc
 G3JxQIWuEL4lJD//FWg2p+rzKWXANlF7lFtgXRUPQHj3gDeta1BnctWb907A1pCHsVFzIHtF5hBb
 I7CtoKWeDTZDG6jtAN1ltdZCQBujplIY1DaZQE9QQ9Qy2gJf4FFXQPUBSuLbZPo9EOiicID8ZPa1
 7qmnqOu9Y3migw0rS8JkbMRXeg3LJpnEyUzmMwG4LzP4A0GF/1QDzAFOg7yp7NwECeKBrAUe0lgO
 g7nSdTRgFNw148qWKASpm9M+CrXDvcY3VewlyIrP/Db4NuS29HSkGeQ7rGzrOpgH1BXvT6AM45zn
 bXBUDC6fNRViPi72QpIX6j9X8ctUGxS/EDnMtR7sD40dPAn0lIkAjo3GCI5CvZsVLqUBEftDD5xN
 h4M3j8flNoL0+nfCy54H55NiOo+CcVx1U3vAWECiFgBUVeWMH8FalTc64kM41et0o/KDIPp+xFN5
 w6FabIlXc8cBlSUawHLKCoDybxWd61oOxYeXTr67HO6MPpsc0Qicn0p742mwt7B26qvAtl9rrx0B
 w0NTrQro4aq+Vg3UPFkir4Im6ln1PjBR3NT0a4LfdxN7sgk4ZT5vbaIFqeYBq3zEOkNVtEpYZRyp
 cs06YoUQQ5LYpQ3gwM2/EF78t4jzlw2BBqBOiJuZwPv0YSbQV9rKQLDtMoc5zkHWpCsR9UpA+oti
 97wInj6eq3pVYIA86zkI+gJe8vYAw5K3zFPAMY6b9cC86BovYyE7OXtAyGm40i5xYuHX4NbK65mZ
 S6Fyy4q59/tCw45VtiZuhSJp4a96Hge1VU4CqGwuApSrW2S+qyM4WjadcLUY7BylXTI7QNrcW0fL
 P4CA65LpqAt6IbZra0E/QJCqAc45Ksj4CnJOpreLfgBHHGdmlZwNRYLDq13bC1Hjgz+2WoJ1VRoB
 2B7XPmUP1NtXMT/5U7h97lp6elXIXZUrjiHgKK+1MXLB8bW10ygN9je1Z71JYGsid7VngE1qmboC
 PI4pNqCVuKkDOPj9SCQ7gWQBY8yJ8ialrG9liXRzbjC4J18xwD5eVbKqEMoSjsgB+Rqw87Oq9h8A
 oGDZOMjfuRgM+RJUJ7y8AJyVB3QHozqvaUMhoLs3PjAElFccnnBQFdRsz0ZgEov11aCqyx6pD3oN
 1U8lgjmQg1oDMGfxgvUxmC626l+D+a21TF8M3ozMk/YYOFf9xICw/nCvxYO+4Seh2av1TsU1h2qu
 2HLZV8Ew1G0Sgb5MBSh+LgJ3PLR7ucnZ6+Nh2wRvZ2M1pOXEbSq9EALPqwmODWB04VWVDsYIzqur
 ELiXcbaHkGK7U7GkBRfL3z6Q3BKazq5aJ6U16KVVFLuBUqQBFIuJiHDfh0J7is19WAbSDl1LjzwB
 +d9bj3iGgztMa2rMAk9n6xU9Huw71QTzVbDOsUwZoJ6RJfQFtZadqggwBEuF+3n+90BgZ7/sAEzL
 K4kU5jEWMt++wZBtUoKrtr1y0Oonc8mmnzWGvsA9NUr6/ucAkOM+AMh5hN7AFWJlP2gL6aqeB62r
 PK1qg3FWRqmOYEulr1YLrOUyQgcoxSziQS3gJzUajFy2mbvAG0eofAfWEsQKAOsHbPIYmJNVjP4F
 mB0k3QoEz2HR9bGQ0ereiNh7sKNm9s6gkZBSs/ZPNy5B8/HVrqa0BXtjvRKNQdXkCkDMI+H7PbHQ
 NKLB7GuXYNvKnPn2peA6nvhZidngHKMNMTaC3ozK2hXQh7FL2wbOBM+R4BlwbtOFDiWXQNWcUhXS
 20EhPVg3iwHXfMHyjs7G87IfqowuPTWtCOw4er1q3jYIOGEtsw+F/C509h4AZ5KKNqeDN1w9YaWA
 sVTZrDOgJal5Khokm1ZqAKgX8EpffEE4fw8AgbKfl0DEEqlAYeu8lWb+YP/KkOvWBivPCOCwbJVN
 aPKJzJXawAN2U/E/AECBb7oHXyxgDFALeBTFUlD7CZaToE2TdFUJdC9Pa2lgaymvaOEgMZJkDAFp
 LpP4DrwN5TGZCdpqHsphMN6jntwGbjBb2w7We+y0VoF1lTraE2C9TqK1DIxblNO+AmO1+kJ7GVxR
 aa2ip8Ox84ddjn7gzjefvZQAbR+tOT55PdjH66N4GljBHoDyE4t2dNWGlKJ1Mm8kwv63964L+haU
 yjsZWR6cb6hIkkC7zlpVE4yTdNZWQ/6ElLNFHHD+i9vWnSPQcl/18qkAMT5TTd+t7QMoaUW9m/sd
 GOuCt6TPA/eejCZBHcBdQq56d4EnBqf3PfAqQoyjYFZjv14Z9B9kr7wAKlm1sGYAc/Cq7/nHB2aC
 pQXZIFukp7WQMJlo3pEnjRhDnrQ+tt43Y6S5VV8WcJEoWSDtgBzZQdZ/AIACcvjxsALoCNwEJoFa
 iMYA0GPZTDhYt2S+mg3euRjcAWnjeDW7IuiVAtZnrAXbpcB3UzuD9pP6ytwA5vncNkEx4DmUExv0
 EMydrrect0BvKPuNj0BLJk57F7SObFAa6E+iVGHQD6r31HuQvyTvpfBTcHbu0UeqVAQ1TApdKg5t
 htV6Lnkf2Dcae2gBWjtqkw817GUez6gCt8feGXhvC9zVLr0R1AmMR6zPHfvA5laZejDoLmaq+aBt
 9bR2zIS4TbfuFrkH+TMqV0sDnAHGaAFoxFqAALfjMW82hL0S9m3OZshqkdbYzAfPSj4zPwDPq9oj
 5jPgvYVuJoG1RnaY40DOqB3qFrBDdmgbgRfxkgVU4O/bAkG8QwbQTJoTi4uTxMpka68hefIzg925
 TGOl9CeRWLkuHuAOtVSlPwEABVRgFK4ALFCT0VVX4CRJUga01SLMAquVKmPlgfF9xZIn+kHVb6rO
 vf0TlOgUGe4+D8qrDhIJSWbmXGMN3NuXoELmQ3z4nUeLlIfEibeeLvU1aL1z24bmgVaKUyoBVHdV
 TH8UVGEslQFaWb5UfUHdyesXXgTO/3BSKjWE8EtBGz1hUN9WcUMGoJdROkBwH0eWxEO1MpWefngR
 HpS481XRTZB/JCsoqgtoF/hOjQMtGLSzYOTL68YnkPtzcqfon+HW4sT5t56FqtuL73StAnmV5QCO
 SfZd1gIIHRz8ad5USB1onTLvgVfUHrMGeNdbu63vwFystbeeB+sKu61BIIXZLT1ABmKyFSiJl0RQ
 n/n57P4N/51slX1AKVlBaxLYae1hRv4WQ/paDS27p50ck3N05w2Js+ZiAlfVu/+RDfCPaJcPACwF
 qQYqDiffgvqeEtwEe0XrkN4b9Eb2vjIOiq2JaO4uD1pvrSgbgbEEcR2KjA6f7I2HmLERY9OArM6l
 g9PqwWVHicZJ+XBuxvEOlb8Dz5WUD4sGgzFHntHeAf1dnKoxqMd4Q98CXGQriyC3edb2iK1w/J1T
 gaVvQ/FrUQsv/QwlhkZNdS8B+dDnPpZfFfNqbiAcf7JIm8RQSPoyMzV0HNi+Z7DjBbCtYDgPQHNL
 Z7UOPGXzOts/hORbqY8FuUGdL1HKtQpkiLUUIHCLrRmjoZA3dFd+O7gSKx5vNniPyzrrKHjbg/kW
 mD9YO614MG+qZbIfrEHslp9BLuIRBaoPXl4EWeofbL8FQLj8RF+Q58Qmz/PAqmPdseLd7xpSgRuy
 2nNLfpZ24iQFj/wszYDA/9AG+Efk9QMgBqQ5qG+wMwPoIAdlPDCPWaRA4pl7RvTPsL+MPPA8Cp7p
 nlbGD+D8PPhU7lSoEFZqROosKGyLWOL6CIKzHV8SDbU3VQpJAQKvBZQ6Bxw8uO9lKwE81ZNvxVQA
 2zKKaHdATyVUnQK1m+e1aUBRdtnKQm7zhxWL2eHY3AvlUxpBdPdm1+8dAHsJPZVm4AyznacLFOle
 NCVtFiR+c/NDTzR4XzRTjF6gd+Md9Q5oWzih5oC52x1rc0HO7szFgZnAKBJSAMZzHMAebQwBCJ0f
 9LjHA+Ytbaf7bTDnWMsDFoCZr02ygsF8E7tVFKQ7u60nQUR2iw3kJdXC2gcSjVcbCioMGA/k8Ncb
 RsFSCTvIKb6QJ0jiNcbwkjvP8FaXKebBjAz7k6RSlecZLYP4EDgvO/hP3MB/RAUHJY4BZ0BSULId
 6IuXj0H1JJHXIXBefK2KkyHL/qBH6duQt8Lq430ZXEXUaPdDuDbz7KzkgVD29epbr8+D+vOrT0gY
 D6FPBPSz3oeKhWLPZQL5Lzd+/tIrcKjJriX25UDPLLPQFbA5VKJWE7SmBGntwFaa9iwH5xnrY8dQ
 uNvp2pYSY+Fh06pDE3Og5KaoLDfAMQwsKBFYZGROOTi9XO+a7wKzlHeLIwYsi2iZCNp1sqUFqObm
 Ddt7kOfN7hRYGlwNvD7Bv6X5zlON5CGAtkLzWD8DKzhlZYHVVS5IF5ABsl2ugozDkJEg8bJDtoG0
 UDusrSDFZYc2CliAV14BHgE1C19Udv6v+B5FV9kBuNlKPCe8Ry2nmZTpMSyPfCwVk0Za76j7ajQb
 pLW1zDoHhKpv1D89W/ovUEHShz0+EEg0SCCICXIXJA+HpIF42C3XQYuypurDQG+A07gKerg0kRdB
 W8gPtkZgPp3yQlR1OHvv4DZnVUgvk/WorRq0zWk86d52iDgRtMNqB5XdpZ9KnwUJ96q9fsMLV147
 eiogA9RNa2XgEjCi+EDrDVoior4B27uMVN+DVTFbIpLgyitxxcP7Qcm+UasTI0El8RmpUKpwIa9n
 L2A5o7I7gzfHFRK8Fszz7LFqgJZPJ6aB3lmWqULgbpX7oWMNZF/Pr0gZKHQ6cBC3gPfIAbA81rtq
 Csgp+Ui9D5LAfokFuSpFra/Baso26wZYy9gmb4NVm93SBeQ2eXIKpDle6gFN8R2qzeavp4HislwO
 gbRW6axio+Xla/N24mnDa2gmSYlZ0kKbTwnZhJ2z9FBgsVNe+BMEX3A8aheg+Y3TJSAfghQDGQxW
 XxAXNukI0kf6SUPgogyRGqDyVThpoG2nvjoHRjMZpz4A20jl0EaDec69O3AU3Eo7u7diL9jfx3HD
 +wS0mdQg9sFjEDLK0V9KQJUvK41LOAl3x93KKZIE7rLxm0rsBG2xVoFeoGeoUDUe9OGSo/UCLcOM
 sd2C5MIJn4Y1B/lGAhJ1UE+rHLaA0VdfJKPANsIe4p0G1mm5LutByqtIKw7YxikVBuSQqdaAHLGi
 VQeweslgjgJLacEt8L5j3QXIven61igNbDbv6ltBddEuSBEgUG7RGxDek1PA16qPJAGDZbd0BQJU
 C0kCLP8Cm/WrqwAACrBRju4grbQOjJAfzSQtmaWJ2YZ7uWrhKZM0V0ZR17beuq+c8gG9NGQPSb7o
 t989BfCPqcDqv45vISgKWAdSHKQLyHSQJmCVxS51wewrP1iJYD3OIMkFaUYLloF8JdVYCloIE5QJ
 hpsk7RbYbNJczwEpq16RRKCQJzNoMFzNPdOxXDaUuFpkUtZrUDOh3NCsY1Diw0KlPHWh+OexI5Mq
 wdW2CWsLHwRbP+vFgNOgCTXUAdDuU1c5QRttpuhlwHUq81xwOuQXNxswFALaGefZArTjMeJA+07N
 EcDcTCOZDjJH1vA0SJDqznywhklvuQpGUVtHbzI4x9mS2A0UJhAg97p7MZUh+Yn0FAdg/1QCjKmg
 Rkp7dQOorHrTFdQxjqixwLtSmShQK6lJFvA8vihFA6+/5C+lG7BhIcAP0hg3yHxlqhWWPa+9qmWO
 SbYMW3ntom1O6nIqU5MlmfWlsVopyyPhhLWATUAuZf1Ztf4Y/fpMoMJ3etYCOQUSB/IoyHkwm6Nk
 AXgrYrPaQd5CursrQH5DicirDOYR2lh28Nalq+EEtZ9KygLiSaIBGEdprJoCQ3lFHw80wpB1IEVy
 5of3g3PHL6UWmQCVDsU+lT0NAo84rstAiPBEPZ45HLSG9kH534F5Ia+loynoU+SKmgz6T6oKH4Ce
 KHO1yaAuuoYGjICssa53VB8IvBPSVfqBJEmCeh48KflrDQ3UR1KcTsB1aktZkA0ynVfAvKr2e7aC
 81Zw4dzXIaiRvSKpwAZuALjC8o9rcyBtbnop500wBsgeVRFUjMTTD7S5fE1TUL3lCttBvabKkwm0
 4gAfAmmyWeoCuzGphm+qrQ1k+QEQwCXSgS+0c6ocSAt5VSpn2B2jtE22b9K+MYyOVj81N/t7czI/
 Wn2SBlvz1UzVMdJUT8pc6yZwn87qX8nOVbASdQ/IB2kN8qnP5ZMFYPZDWa3AcwexKkDWDXk60wGe
 u9bs683B1kG+erAL1ChaEw9ZceputAnWeK1/7FNg38LEADswEy86aAt5W7UFWxcMXQfzHGNkM2Q0
 fFCi8NuQOzv/k9sVIOBZ+04v4DzkdHpOgLZUX26mgJlq3ZEEkJZaB2kIBMtU1QxUA4YxGrQt+h2z
 ETizbUckHWSArAJI6ZM9Xa8D8jCvUuAB0HS5rDYBDjS2A624xPOgr7PP874GwT+Gvp5bAvTz6jKA
 9JZnAdxrPZ/q8ZC5JmuPczJolZjLCdD28Jx6C9QaWaC9CeomW9kLtKMua4F3yKQsUIkdfA/yLlBw
 /n8ivkARLxDBcrkJ0kOrp4aB5eAp66PEPvpDM0IVzW5vuCq4L+dvzHlEi5UMrf/D58SlNZLWlVDh
 VpJsAu6pt31HJv5FEGQBySAdQILAag2SAOZJlPUmuDZz0XUDXB6zw6lTEJstPa6th+AXuWgVBtnN
 TIDUwxKREAA3j8pPeSUgt7/2XaV14BhNhv1l0PYhDAW9KaiJYP8ap74LzBV5J4ODIPPx3B/1h1Ao
 NOSeF1DHfSeOVLZ0JAv4hOfldeB9KSmhoM6zgddAK0ugtQEcvYOv5qyBwCDbUD4GucNI7BDX6sEX
 gUfBtte9xXkatFflZdUKtBaqj/oQ6CSPyyqwf2/r7RkKoTNC43I7gKTLW0wE6ejbbE+tn7nIPhPy
 Xs9ID5wJgRXJVHGgl5Cn1BHQsznMt6A/Qks1ALR16DwBqgc/MQXUOiz5DNQBPwC+BNnJLyuBTpnO
 euB97S1qgrVU7ZIrDyrlz/dmeZZkLzDSD+b1zSiaedk2Tb8fWuXOItmivaFNoz+fygdcAxLZ/S9t
 Cxeo/sFAGr4sNblgLQKJBLM7Yh2D9EPSIG4JlDol3W52hqAcLlqBYFXxt/Osryi0iTRvHmQq2Rhf
 D27WswYVbQRanHoq8iOw3SNcWwzaLDT1KBgO4tVEMO45nnYdg9AJgY+YN0E7oBXnALhG5vW37wTZ
 5R2urwSjqPTQmoE+mSNqF2iTiecrUBe0zrIPQj6L6JJZGtSjqhxLQd72RSIl1UuYFloY9AreJ22H
 wbhOW20i6K0lWIUA1+U0XcHRL+xOVj7ENo1pmlMKJMkXTexe7p3KDLj8QdyTIXdA7+WaFxgLei+G
 a93BiJcgzQ7GK4SpJqBFqkHqKGg7pbzygOpBPNWArsBF4CfgRyDJz/+Ck0XhksoGkDL6BXUU8n9U
 E8x+cauTvs1JzziZmW58/15a4BF3Ws8BFYsmtHniwrLga3q+PVre18MkSg6r8XJeNpIOWH8wf1/B
 wRCATJBYkKNg5YL1Dni/RMxeYCXwZNo6cNYm3psHUgCyq78pK/gK20tMzX8OzCeldq4C9zQCwvaC
 NpEPKQpaMGH6cjCqE6R9Dw4VcMR1DHIka5hjNWjz9M4yH1I+Tvg+bA8wPG9vQEOwreIL9Rno22Se
 9i3oP5CoWSC9eUmiIb1c+mOB8XDu9pXJkRvBaQ983r0RMh+/e77o0+Bwmt/Zs0GvqAy1FrR1EqeK
 glTSfrRuQeTs4s8lvgSRnYM2WzWATpID4BrtPqRVhrv6nWcj8sD2vbyuJ4PRGrv6FowQxqsw0AdQ
 R3sX9JdlsioMKhuLMHwrqQeBz0HWgmzGl5QiHJ/ZbiMHC7jCF+SC9aN+j1pS2mUZxU3jwtsH5qcO
 ulQyPdbYllvh1Kw3rCfWjsxq8+PjV8eaE9QnMiV9iESrIagIyLc2yVtAGuEqiH9Ofg0g8SAPQa6B
 vA9SEqQMyDyU3AKzGwOCEsB9hAn6IrC18OdQOORvJ9hf+uc190O8xglwwVqtHdjuyqvmIyALuakN
 BTUNCAK9P25VAWwNH8yI3Qx739+wMtANzh8K7UtbDrnxSTmRkyHoeauIcwrYvCxQDjB2cUobAsYE
 0O6DOu6drP8M1uFL5WqtgXNnr76dNxVcXzljsjaBscIVGfwMBO7npFEO6C6TUMDnvMcdsEYGXcy6
 ARW3lXs7ZTaoqupHEkHWEoQO11+8nxE4EFyjkhyRLcFmkyG6HewHKKk3B/sP5OnvgK0DhzQL9M8R
 1R+0fFAnQDUCVdqnXemHL0/RB/jC8RUQSopkAuO1+qoSmOW0n9md1sF+hTRbj+v0NiPrNLktHQ2l
 zqV2CIalP8ZsH/BD3BnHq7ZXnOXunrRf1haSG/G4lmXp9ADSwRfn+genAID+fjC8j88tGQTcAVkG
 9k5QdCDE1YToN6D8Q4gfCbZ1QBf/AylInQP6CLjxCRTeDrKHFYGfADZWyHpQl3yo1/v4lkGNeqA9
 BNsiC7sLrMTUGzE9waulBsbEguNRsPqAagzMBXWOQaosGN+B6gX6J6AFgdJBjQVrOMgYML4yCeoB
 gadzCPgczPf8ns0lkD5AC76SYWAtowjPgisyMialGYS+FBrm2g+8wRJ2QP59bzRvw6WLl96ITgDb
 rvwJgWXAcZAc4xFw9ASjGdhmgn4GjFWg2UBP8Qldqwa0Ba07vqRaO4EbwCGQgfyyExgIdAL5QN+v
 2oNnjK2ClLm7P3NM3ieZ4+P6dlb3bywK/8VbR1tpVWN7zuRKg4OqFv+q4cOAmu7XtWE1Fmr3vF45
 SycsXH+J8iko9b9Tir++uF8VvQRMAysW5CUwz/pW/6zpoB+B9E8guBsknAFPG8gZCWZ1uLccAlfC
 5feg5HrI/RJK1IHAXuCsCA4FRiY4U8AIB0cDMOqDvToYJ8D4FrR3QH8UtE/AMEAVA6MfaEN9h0a0
 QWCvBXobsI0AoxPY3gLdAfoi0N4FfZeP8Xp10GaAHgjaajCqgHYNjGzQ2oBRFLQfQTdRWgfQ1rji
 AvrB/RZxetRQiNMTagf8CNf7Poh1dofkvKuuUg/AeDR/d2ApcPQGwwkB98AWBgF3fWB2vglGD7Br
 YGwHYwNosaA9B8oG2g+glH+qDPIDQAMsCqGDTHV20pfRNevFUKHO9t3rFqZUOvbB8mbn4zz7Hrjc
 GX8577vGk3v+VErm7G6vh7WuP+bAd541jgpaYOdNxlVXGj2D4VmB7/3Gxe8dRPDXqco+e0BaAHZQ
 PwIdQevvs1iNy6BZEJwMEcsgW6D2BEgoDfkR4PKCeRNkB6iZEPwyGH3AsRb0Z8CRCEY3sJ8H4wmw
 NQH9M7DZQFsG2hhQ+4FyQHdgH3AGGAYs+ss8CReA8aCdA+0WaC6gEagAX73EAGvAugIUBXkbJANk
 D8jnYH0JEgLyAcgLYK4hW46BXiJfhcZA/v0HBL0EaREPe0UvB+889ZLZDBwdrFXaXdBeABUBNhdo
 P4HjOth6g2MsGOXBuAP6AdB/As0L2iWf6lceUEt8faUVv+yx6PgOjGxTNZgOnnTnbdUyq6i3mxnm
 qXjwte/65b57Mj3rL9tEv13l239pTN6R+3mHruTPdJ6k9+3Z1gy9u5oLWKg/dECkoMXJ/o486ROC
 mgQqHvT1PuHY4kHrCs4XwdgPQavAOQoCoyCoJQS/AkGLINSCgHIQNBfsuRAYBvbtEFAFbHPA6fKN
 HHsC6BrYckB/C+xLQb8B9rJgtAZ7JdAbg90EPQzs4aBHg+MdMJ4FeyboAWD7BPRtYJzxqWBbS582
 sCeCngH2b0FfDI6rYEwBx5dgnAbHAzBOgSMCjN3g2A/G6xAQBkYYBDaXb52NIWiB1ca5E4IeMN9e
 DAIv+bROYCew94GAJ8DoDPYw0PuC7RnQOoH+OajuoE6C+hjogS/yOuA3UrTQUSCFjUhtMLibB1xX
 QbdjzsfkTL7T5dAA/7fiC77+N4e+9g10rby2My2igz1oVo1vSs0NGKS+sZVquNF4PN8tyVpPHCT/
 bvKCAu2Q7x9hK4H3/OrpIlDRPzLPASdBnQV+BvU4qI1gJPkMHdtW0IPA3hb0UeA8AkZlcFYCoxw4
 F4GRBw5fPB72W6AfB1sR0JeDHgvaVp+WUZNBs4OWAFoT0Ar71LYWBHoRUG19wtYWgf6Br3+agIr0
 jUp1GLSXQSWA/jJoy/1/fwNacdAughYDajWodr7oJy0dVAvQG4IyQI/z2xhvgP4K2GqBtgQco8EY
 7lfx18HeFfQ7YOsGehrYUnwDRX/K3//vQQ0HlQLqPFDDP98XpL7NpSZR4DkSWlcf5C2T9rN9Xf7n
 y6+MiEqq+V3uytHWA66BOeW34voben1pePm2M5p81LakI7NyzneTQ9ekDJUNsRnaG96JUgm4zy95
 d/8e6fhsgRE+1WuN97l6VjFfHID5OVjx4K0HVjB4l4I1FrwNwbLAHAfWQeAp4Fu/2vsI9K2gXgLD
 C1oh0CeCdh6MS6CVBn0HqAmg1vqZ9Lz/8EQwUPhX/Stwaav7GVcU39JpeT9XWvrrrvivJH/9Df/v
 7uMLd1sBbAFrPUgDkIkgzcBcDXIWrAMgP4E1DKy5YAX4pkV5DxgMaiHwhh9QMT7to+0HvRmovqC/
 6rNF1DVQdXzAVQeBueB/QYZP+OFAIkhNWxH1DmRfjTpsFLq1Z8eG/COXL/eMmjkytef2Dkf/ZkXn
 b3J+vNshLK/Du3C+kSvv3qDT3N9hb5eRu2KnY3rIgvDSI8MDqqWXMO/a0/lR7nEDSIC/mzVM4fPr
 XgSqgbroHzGZfnB0AK0SqEKgjoFexWfh2hb5Vg2t2/69g1fx7XEnAK1Aq+4Dg/YYaItBK+sbddpd
 UHd9IVmqPr5UrhN9TGMW8Ilfdf42aNL8VengLytoahq++EXN938Z6a9v4/99Nr5Nl+Mg34BW1N/H
 FKAvqMWg3gARn5dgzfEJWM4AjYGPQCYDlXyjWNUFVdT/fCmg7fLt66sNvv+rN/C5e138gAzwAzIE
 X/DHINWeTuA+EjLT+Cp/zL3jsjr9nWVDr7bK++zh4bNnRt+KOP/YfviwTFr1n5r/rcL+G9I00J4j
 vP++sJ1Nk6tfat/LsbHy6LnPF+6Wfcye1Opno11uorUSiOQqhfCp/L+3b1gAsX0+wYvgy9c7HuQ7
 sBJBaoJcBSaAbPHJQK76f3PH30Zzn5DUQGAgqEBQdlDngOdBFQe1CFQyqOWgxvgAw2g/EMP4xUv5
 I/TbydH8O/XiF4aF7wSUAdIb+Bqkht89fAZkqE/rkQey2FePji9NrssHVvUeMApUCVD9/EG0y0Gl
 gpqPz5AN9oNA8Yux56IxeWAGBBXTp0Ly1yGFPM6du7bvzb9y+dnhnsxv28RGNbr42Hc11y5f+9Hf
 H6d/gIwXxuZEft3hxWeq1MvVH5R8fcrGyO4ZrfUBZQ9o09zNrVpAnj8R4j/KcFWgcvf7BbrTh2Dx
 JYqCKSAfg5TF5zrG4TNyCgRRYLc28zFcZQB7gW4+n17NwTeaJvNLMmcPv0TF/LeydBY8qz/6md2+
 PssIYB3wBr7pwwT/O4v+2m0u8Nvz/P3t5vuu+gLfaB+Ob+oy+GWfX/jLbp81yVFFC4f0quHxsvzG
 w+OdvTvvbB/TYFKnlHqba68N8DPv2j/r/j+kYuUgsCIETFSfBXwdOu2lJoUWt2nZ/37Vw4yIbvtO
 WMidjGGypshE7TFPjrwHeHGR7mf830sqVQCEgiXjs37m3QEeAnfxzbOZPobJHH9H3/3V7wAq45uj
 S+JTgzX8IHHx38rE+ceo4Pl0fFPjcf9z/jo44+/Rr58LfEL38Mvxb4e/DYVBGFiWrZt2HLK3hX+l
 whKGXCgmCQ9bT923QE8utWfKVyq1OCp9deaF9PbgbfuPu/uvZqMLKL9ITy28Oypz6KNhX7Se8Eqv
 8p/ry6KWDW4dejRzhLoQ84o2MX+F9RNQhh2k45tHfy+eoAAk2m+uAoZk+MuI3/yuIF9/wYj4PyXw
 f0Z/JLPar+m3L6woBqQCV+hMBbD2O2ZpoyArK+x7VPzb1ytbPya/v+CLuXXSZu78eP61G83MBslG
 coG5+0/13r8a7ZN3faAZmdQ6ucyMD9P1bR8tePbEbrPz3bSpY5NLhyZ7P7ua6308qIk2jqGyVl2h
 Fj6rOu13GFGg2t3+hy4YwW5/GcBfj+yCsuAk7P9fBf/b5/ujZcE0WhUf+GtpHfkWvM7gJ4yZfJTy
 c9hD85kre49Gmrvj1k9e9fFHqb23ehfc9gu+tr+VPzzh/XvhXnAv9mdtaETWwx4zW6VO2Ra6otVm
 8g+fb/N+8ZuNAl7OTNzQOdcM/0QrnjnCG+6IVW24xVy+piigY0PhU2kmPlX5z5Ib/L9EBTrXgL+k
 0PcJ344C5rOcEmA2cHyjneRG7prwJUbjjPk3wgPvZUau/3JzQP6353u9FzorLuWnbU9/+03R6VrZ
 0JMJYQVy+Xe782/T4ELOkGZNYEGKK+vAIceIxpsdW8u8WrXuI82c7aoseTqkTknb0uJfd/w88K4Z
 ZttZZVzA+tw3mBuwSP/MU0Ki+JInrbnyKTCMOuzAB4hMfIZTAL5RYMdnJP3fAJaCIRWAD+Bh+Oyh
 SHzuWgq+F0vM4TQNgXXaODUbzKq2quoBz7tCg/I4nNc1Z4zew7v4oud0uKf8/W825Wx9mHf2QtV1
 jY83yW93e/uloH61HY4GNdylvz6dn3/s3L/f3T/vhW2X/WVlAFUnYjEEVIx4WO5p+9notTUnPP5W
 wNxqTzWdW2GHo16RiMebhSyxUuyeMk1C++cHGBGRZ41w93CZFTiDyVZJyQV105wnjUHds75nAqhP
 +J6jfkYaIPf8vc/E5x7l4DPA8nz1ZPv7k48PQAXeSYGq/XtuHfwyVRVY5w58003BVBTg/9s/5lSk
 /x5R/nsn+Ep5g6doAFJTG6zmg/TWl3ILCNLvKCd4PrKNJDF3VDbOL8zCqZ6sEZrbHXpz+pVFruEP
 47Y++9MK1+SL6w5OvDE6/3jCkLOV09qBKyDdH6gvF/8ssf3pb+xTwcBHYGUVsS2MAaUSPC+9oLrr
 b/CMZkQ+4uinDOOJ2PHPXA/aUqdG2ZAaZ5xvlujasn9oLW1ZQP86U6LuWCmBsZHDgyd5rxj1otob
 ra3GqnrUIyrLvEQ/3VINrQMyHFRD6zW2glplXZcawHxrOd+BmioL5UdQu+U6ucCbEs4iwMYxcoHH
 /f2s89f9llP+D1v9pYcGBAKTVDJ9QN5Qz9AMGKMGqydBamvVKAkSrVXkU5C22m61DyRMH68ugQRo
 VdQCb753hx5n7U4Zn3NUf9Z7O1klV9fK5Sanzslcat12fXOq6LklrkH3zuwpsbpFTu2TnW5OzO8r
 iZ5Zdz8w17NZQlNTRYrkLqonZ7TCCYEDnwNJBkb+ifL6swHwz8i5m7rGB+BqzUnvuAB/uEe4VmEF
 RIVFtm3dNOjdyhVjr4SK/cfA7Arz9QbaMq1d2ZSwCWqOM6DQp0X6EhiyPuyHsNMsdDaPvOe4LxP0
 QuF19Cqs1J4I7KINk/mqR7CHr0miUsg1VRuTzvYdBBFGoGor8dRDiCVNFeIX7x0iJAXIV8U4AdzB
 JB2PrKMptSH/oUxQYyiaPUO+YATrs53eHjw0H8n9Ov8V1cuclz4y02Cpq2HqpIQo9VL2noyu6Z/L
 FJcjpZt1yXrTnHjzzYyS+T1zx1+L3b05Z/6lM3eqXhsPKUbKEN/N03XnZeoZn7hquSpzwvvG/04e
 /3MA/JY0j+9E68l2QcmjlkPt3TlR0w4Y83y1dv/hNFsh53hQ7wX81Ki63V3+oygj7Lbtq8Anizxu
 NNMS9dDIfepJtUy1CtksMxnB4pDPpQbPyruhGjXVUrXP0dD2I520IQTYv+Mn/ZhznOqCQ2Vouwv6
 IevIlzCrtbsnj5kNXB94OrLB+px0VYgPZVT+Eu7KefV1Zk01joUMyxoiE6W+LM5q561lxZvJqZEZ
 oz0dcl5PSDgy3130RoNkr+sCyNm8Nr7WPf44JzenOwUlv/mod1i9LTlR03uA6QX5H74u/rf0/wEh
 jmVsf+ZYhwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMS0wNy0wMVQwMTowNzo0MSswMTowMCzMgQIA
 AAAldEVYdGRhdGU6bW9kaWZ5ADIwMTEtMDctMDFUMDE6MDc6NDErMDE6MDBdkTm+AAAAXHRFWHRz
 dmc6YmFzZS11cmkAZmlsZTovLy9ob21lL21pa2Uvc2NyYXRjaGJveC9zcmMvTGlicmUuZm0vbGli
 cmVmbS0wLjEvZGF0YS9zY2FsYWJsZS9saWJyZWZtLnN2ZwM0fckAAAAASUVORK5CYII=
