
#top h2, h3{margin: 0; padding: 0;}

#top h2{text-align: center; font-size: 45px; color: #222; margin-bottom: 14px }

#top h3{text-align: center; font-size: 20px; font-weight: normal;  margin-bottom: 22px;}

#boxes{border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 20px;}

#boxes div{text-align: center; -moz-border-radius: 10px;}

#boxes div div{padding: 10px;}

#boxes div h4 {font-size: 23px; margin-bottom: 10px;}

#boxes div p{color: #333; font-size: 16px; line-height: 1.4em;}

#boxes div:hover {background-color: #ace;}

#about{font-size: 90%;}

#about div{margin-bottom: 24px}

#privacy div {padding: 14px}

#privacy h2, #about h2{color: #980101; font-size: 20px;}
	  
#ft {background-color: white; color: black; }

#ft p {font-size: 18px; text-align: center;}

#foocorp {line-height: 32px; background: url(/img/stripe.png); text-align: right; font-size: 23px; font-weight: bold;  }

#foocorp a{ color:#fdca01 !important;}

#foocorp span{background-color: black; padding: 3px}

#intro h2{font-size: 24px; color: #980101; padding: 0; margin: 0;}

#intro {text-align: center; background-color: #ececec; line-height: 48px; margin-bottom: 12px;}

#project {text-align: center; font-size: 18px;}
